<div ng-controller="aboutController" >

   
    <h1>About</h1>
  <hr>
  
    <div class="row">
        
<div class="col-md-12">
        <div class="form-group">
                <label >Name</label>
                <input type="text" class="form-control" ng-model="currUser.name">
              </div>
              <div class="form-group">
                <label>UserName</label>
                <input type="text" class="form-control" ng-model="currUser.username">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" ng-model="currUser.email">
              </div>
             
</div>    </div>
</div>